@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

* {
  background-color: #a8dadc;
}
body {
  margin-bottom: 50px;
}
main {
  margin: 50px 25%;
  width: 50%;
}
h1 {
  text-align: center;
  font-family: "Ultra";
  font-size: 6em;
  color: #1d3557;
}
img {
  width: 33%;
  padding-top: 1em
}
hr {
  color: grey;
  margin: 100px auto 100px auto;
}

/* Header & Navigation Bar*/ 
header p {
  font-size: 2vw;
  width: 11.7em;
  position: fixed;
  color: #457b9d;
  background-color: transparent;
  font-family: 'Ultra';
}
header p#contact-email {
  transform: rotate(90deg);
  bottom: 9em;
  right: -3.0em;
  text-align: right;
  text-decoration: underline;
}
header p#full-name {
  top: 0em;
  left: 0em;
  text-align: right;
  font-family: 'Ultra', sans-serif;
}
header p#full-name a:visited, header p#full-name a:link, header p#contact-email a:visited, header p#contact-email a:link, nav a:link {
  color: #457b9d;
  text-decoration: none;
}
header p#job-title {
  transform: rotate(-90deg);
  top: 9em;
  left: -3.0em;
  text-align: right;
}
h1 {
  font-size: 5vw;
  text-align: center;
  text-decoration: none;
}
header nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
}
header nav ul {
  display: block;
  position: absolute;
  right: 50px;
}
header nav ul li {
  display: inline-block;
  margin-left: 1em;
  list-style-type: none;
}
header nav ul li a {
  width: auto;
}
a:visited, a:link {
  color: #457b9d;
  text-decoration: underline;
}